cppcheck-err.txt
install-deps/build-opts.sh
build-opts.sh
config.mak
*.cache
*.dat
*~
*.sw*
*/.nfs*
cuda-build/*
cubld/*
build/*
bld/*
build-*/*
*.gkyl
.waf*
.lock-waf*
waf_tools/*.pyc
waf_tools/__pycache__/
gkylzero-dist*
*.json
TAGS
data/adas/*.npy
*.log

# Object files
*.o
*.ko
*.obj
*.elf
*.DS_Store

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Adas data files
data/adas/*.npy
